<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thesis.mobiserve">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobiServe"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".cart_activity"
            android:exported="false" />
        <activity
            android:name=".All_Day_Breakfast_Meal"
            android:exported="false" />
        <activity
            android:name=".Main_Category"
            android:exported="false" />
        <activity
            android:name=".LCAR_Menus"
            android:exported="false" />
        <activity
            android:name=".KSP_Menu"
            android:exported="false" />
        <activity
            android:name=".main_navigation"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Splashscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>